.nav-bar {
  display: grid;
  grid-template-columns: repeat(8, 7rem);
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #74bfeb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  gap: 10px;
}

.nav-bar :nth-child(1) {
  cursor: pointer;
}

.nav-bar button,
.nav-icons {
  background-color: #74bfeb;
  border: none;
  font-weight: 800;
  cursor: pointer;
  background-color: #74bfeb;
}
.nav-icons i {
  margin-left: 1rem;
  cursor: pointer;
}

.nav-bar button {
  font-family: "Dongle", sans-serif;
  font-size: 1.7rem;
}
