.shop-ribbon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfd;
  height: 45px;
  color: rgb(0, 134, 22);
  font-size: 14px;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .shop-ribbon {
    margin-top: 20px;
  }
}
