.main_img-one,
.main_img-two,
.main_img-three,
.main_img-four {
  display: block;
  margin: 0px auto;
}
.main_img-one {
  margin-top: 3rem;
  width: 80%;
}

.main_img-two {
  width: 100%;
  margin-left: 0rem;
}

.main_img-three {
  width: 50%;
}

.main_img-four {
  width: 120%;
}

.unit-name-1 {
  margin-top: 3rem;
}

.unit-name-4 {
  display: grid;
  justify-self: flex-start;
}

.unit-name-2 {
  display: grid;
  margin-top: 3rem;
}

.unit-1 h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.unit-1 h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.unit-2 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-items: flex-end;
  align-items: center;
  background-color: #d4f6e6;
}

.unit-2 h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  background-color: #d4f6e6;
  color: black;
  margin-bottom: 2.5rem;
}

.unit-2 h3 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
}

.unit-3 {
  display: grid;
  background-color: #f4f4f4;
}

.unit-3 h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  background-color: #f4f4f4;
  color: black;
  margin-bottom: 2.5rem;
  margin-top: 4rem;
}

.unit-3 h3 {
  text-align: center;
  font-size: 1.3rem;
  background-color: #f4f4f4;
  color: black;
  font-weight: 600;
}

.unit-4 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  background-color: black;
}

.unit-4 h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  background-color: black;
  color: white;
  margin-bottom: 2.5rem;
}

.unit-4 h3 {
  text-align: center;
  font-size: 1.3rem;
  background-color: black;
  font-weight: 600;
  color: white;
}
.link-icon,
.link-icon-2,
.link-icon-3,
.link-icon-4 {
  text-align: center;
  margin-top: 1.5rem;
}

.link-icon a,
.link-icon-2 a {
  text-decoration-line: none;
  color: #4c6ef5;
}

.link-icon-3 a,
.link-icon-4 a {
  text-decoration-line: none;
  color: #97fd89;
}

.link-icon-3 a {
  text-decoration-line: none;
  color: #4c6ef5;
}
