li img {
  width: 38rem;
  height: 28rem;
}

.phone-container {
  display: flex;
  flex-direction: column;
  width: 35rem;
  height: 40rem;
  position: relative;
  overflow: hidden;
  top: 80px;
  z-index: 2;
  right: 4rem;
}

.container_slide {
  display: flex;
  position: absolute;
  width: 266rem;
  transition: left 0.5s ease-in-out;
}
.arrows {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 25rem;
  left: 6rem;
  top: 13rem;
}

.left-btn,
.right-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: white;
}
.left-btn:hover {
  transform: translateX(-10px);
}
.right-btn:hover {
  transform: translateX(10px);
}
