li img {
  width: 38rem;
  height: 30rem;
}

.phone-container {
  display: flex;
  flex-direction: column;
  width: 42rem;
  height: 40rem;
  position: relative;
  overflow: hidden;
  top: 80px;
  z-index: 2;
}

.container_slide {
  display: flex;
  position: absolute;
  transition: left 0.5s ease-in-out;
}
.arrows {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 30rem;
  left: 4rem;
  top: 13rem;
}

.left-btn,
.right-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: white;
}
.left-btn:hover {
  transform: translateX(-3px);
}
.right-btn:hover {
  transform: translateX(3px);
}

@media (max-width: 1040px) {
  li img {
    width: 24rem;
    height: 16rem;
  }
  .arrows {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 18rem;
    left: 3rem;
    top: 7rem;
  }
  .left-btn,
  .right-btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: white;
    font-size: 8px;
  }
  .phone-container {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 30rem;
    position: relative;
    overflow: hidden;
    z-index: 2;
    height: 300px;
    left: 10px;
  }
}
